.evento-page {
    padding-top: 10px;
    .actions {
        padding: 0 10px;
        .evento-filter {
            >*:not(:last-child) {
                margin-right: 10px;
            }
            .search-input {
            }
        }
    }
}