.app-hero {
    height: 90vh;
    width: 100%;
    // background-image: url("~@/assets/hero.jpg");
    position: sticky;
    z-index: -1;
    img {
        width: 100%;
        height: 100%;
        position: fixed;
    }
    .hero-txt{
        z-index: 4;
        position: absolute;
        text-align: center;
        text-shadow: 0 0 9px black;
        font-weight: bold;
    }
    .logo {
        font-size: 5.5rem;
        color: white;
        opacity: 0.95;
    }
    .logo-subline {
        // color: $clr7;
        color: white;
        opacity: 0.95;
        font-size: 2rem;
    }
}

.home-lists {
    background-color: #fff;
    position: sticky;
    top: 650px;
    .popular-events{
        background-image: url(~@/assets/img1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .closeby-events {
        background-image: url(~@/assets/wine4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // h2 {
        //     position: absolute;
        //     z-index: 5;
        // }
    }
    .night-events {
        background-image: url(~@/assets/party.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.main-title-container {
    width: 98vw;
    height: 280px;
    display: flex;
    color: #f9edec;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    // color: $clr2;
    margin: 20px 0;
}