.sign-in, .log-in {
    // h2 {
        // margin-bottom: 40px;
    // }
    
    >*:not(:last-child) {
        margin-bottom: 15px;
    }
}

.signup-page {
    padding: 30px;
    >*:not(:last-child) {
        margin-bottom: 15px;
    }
}