.sign-in, .log-in {
    input, textarea {
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 30px;
    }
}

.signup-page {
    padding: 30px;

    >*:not(:last-child) {
        margin-bottom: 30px;
    }
}