.user-details {
    // padding-top: 10px;
    // margin: 0 15vh;
    position: relative;
    .cover-img {
        margin: 0 auto;
        width: 100%;
        // width: 90%;
        height: 70vh;
        object-fit: cover;
        // @include aspect-ratio(100, 56);
        background-color: rgba(0, 0, 0, 0.2);
    }
    .profile {
        max-width: 400px;
        margin-bottom: 20px;
        position: relative;
        top: -100px;
        padding: 10px;

        .info {
            padding-top: 30px;
            .edit-user-link {
                font-size: 0.75rem;
            }
        }
        // img {
        .avatar {
            width: 200px;
            height: 200px;
            border: 2px solid white;
            background-color: rgb(224, 224, 224);
            margin-right: 20px;
            margin-bottom: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .about {
            // padding: 10px;
            margin-top: 10px;
            // margin-bottom: 20px;
            >* {
                margin-bottom: 10px;
            }
        }
    }
    .user-reviews-container {
        margin-bottom: 20px;
        >* {
            padding-left: 5px;
            padding-right: 5px;
            // width: 60%;
            min-width: 250px;
            .review-list {
                width: 100%;
            }
        }
        .user-review-edit {
            margin-top: 20px;
            border-bottom: 1px solid black;

            .review-txt-input {
                padding-left: 5px;
                // width: 50%;
                border: unset;
            }
            // textarea {
            //     width: 75%;
            //     height: 250px;
            //     padding: 20px;
            //     box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
            //     margin-bottom: 20px;
            // }
        }
    }
    .user-eventos-container {
        margin-bottom: 30px;
        max-width: 60%;
        >* {
            width: 100%;
        }
        .column-evento-list {
            li {
                width: 400px;
                .column-evento-preview {
                    width: 90%;
                    // margin: 5px;
                }
                position: relative;
                .btns-container {
                    width: 10%;
                    margin: auto auto;
                    margin-left: 5px;
                    >*:not(:last-child) {
                        margin-bottom: 5px;
                    }
                    // height: 100%;
                }
            }
        }
    }
    @media (max-width: 500px) {
        // .user-details {
            .profile {
                top: 0;
                .avatar {
                    margin: 0;
                    margin-right: 15px;
                    width: 100px;
                    height: 100px;
                }
                .info {
                    padding: 0;
                }
            }
            .user-reviews-container {
                >* {
                    width: 100%;
                }
            }
            .user-eventos-container {
                .column-evento-list {
                    li {
                        width: 95vw;
                        // width: 95%;
                        // position: relative;
                        .column-evento-preview {
                            width: 100% !important;
                            .members-avatar-container {
                                display: none;
                            }
                        }
                        .btns-container {
                            position: absolute !important;
                            right: 20px;
                            bottom: 50%;
                            transform: translate(50%, 50%);
                        }
                    }
                    // max-width: 100%;
                }
            }
        // }
    }
}
// @media (max-width: 1000px) {
// .user-eventos-container {
//     max-width: 100%;
//     .column-eventos-list {
//         max-width: 100%;
//         .column-evento-preview {
//             // width: 95vw;
//         }
//     }
// }
// }
@media (max-width: 1030px) {
    .user-details {
        margin: 0;
        .cover-img {
            height: 50vh;
            // width: 95vw;
        }
    }
} 