.user-details {
    padding: 10px;
    .profile {
        max-width: 400px;
        margin-bottom: 20px;
        .info {
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .user-reviews-container {
        >* {
            width: 50%;
            min-width: 250px;
            .review-list {
                width: 100%;
            }
        }
        .user-review-edit {
            margin-top: 20px;
            
            textarea {
                width: 90%;
                height: 300px;
            }
        }
    }
    @media (max-width: 550px) {
        .user-reviews-container {
            >* {
                width: 100%;
            }
        }
    }
    .evento-preview {
        width: 250px;
        height: 300px;
        .prev-avatars {
            display: none;
        }
    }
}