.user-details {
    padding-top: 10px;
    .profile {
        max-width: 400px;
        margin-bottom: 20px;
        .info {
            // img {
            .avatar {
                width: 200px;
                height: 200px;
                border: 2px solid $clr3;
                margin-right: 20px;
                margin-bottom: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .about {
            margin-bottom: 20px;
        }
    }
    .user-reviews-container {
        >* {
            width: 50%;
            min-width: 250px;
            .review-list {
                width: 100%;
            }
        }
        .user-review-edit {
            margin-top: 20px;
            
            textarea {
                width: 75%;
                height: 250px;
                padding: 20px;
                box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 550px) {
        .user-reviews-container {
            >* {
                width: 100%;
            }
        }
    }
    .user-eventos-container {
        margin-bottom: 30px;
        max-width: 60%;
        >* {
            width: 100%;
        }
    }
    @media (max-width: 1000px) {
        .user-eventos-container {
            max-width: 100%;
        }
    }
    .evento-list {
        .evento-preview {
            width: 250px;
            height: 300px;
            margin: 5px;
            .prev-avatars {
                display: none;
            }
        }
    }
}