.join-evento-container{
    background-color: white;
    box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
    width:50%;
    top: 110px;
    right: 50%;
    transform: translate(50%, 0);
    position: fixed;
    z-index: 40;
    padding: 20px;
    border-radius: 5px;

    h1{
        color: #f44336;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    } 

  
    img{
        width: 70%;
        height: 320px;
    }

   

    .form-container{
        .inner-router-view {
            margin-top:30px;
            background-color: #fff;
            input, select, textarea {
                &::placeholder {
                    color: black;
                }
            }
            h2{
                display: none;
             }
            text-align: center;
            button{
                margin-top:15px;
                background-color: white;
                padding: 10px;
                box-shadow: 0 0 1px black;
                border-radius: 10px;
            }
        }
    }
}

.join-txt{
    width:85%;
    margin-top:10px;
    margin-bottom:10px;
}

.user-options{
    margin-top:20px;
    justify-content: space-around;
    .signup{
        background-color: #4983e2;
        padding: 10px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    .quick-join{
        background-color: #4caf50;
        padding: 10px;
        border-radius: 10px;
        color: white;
        cursor:pointer;
    }
}

.join-cover{
    background-color: black;
    width: 100%;
}

