.column-evento-list {
    .column-evento-preview {
        position: relative;
        height: 60px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
        // margin: 2.5px;
        margin: 2.5px 0;
        margin-right: 0;
        margin-left: 0;
        overflow: hidden;
        .evento-img {
            height: 100%;
            width: 30%;
            img {
                width: 100%;
                // width: 30%;
                height: 100%;
            }
            margin-right: 20px;
        }
        .info {
            >*:not(:last-child) {
                margin-bottom: 5px;
            }
            .creator {
                >*:not(:last-child) {
                    margin-right: 5px;
                }
            }
            // height: 100%;
        }
        .members-avatar-container {
            .avatar {
                margin: 1px;
            }
            position: absolute;
            right: 10px;
        }
    }
}
@media (max-width: 450px) {
    .column-evento-list {
        .column-evento-preview {
            width: 90vw !important;
            .evento-img {
                width: 25%;
                margin-right: 5px;
            }
            // width: fit-content;
        }
        
    }
}
@media (max-width: 390px) {
    .column-evento-list {
        .column-evento-preview {
            .members-avatar-container {
                display: none !important;
            }
        }
    }
}