.main-header {
    z-index: 2;
    position: fixed;
    top: 0;
    // padding: 18px;
    padding: 0 20px;
    
    transition: 0.5s;
    
    &.filled {
        background-color: white;
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    }
    .screen {
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        display: none
    }

    .logo {
        font-family: PermanentMarker;
        span {
            color: $clr4;
        }
    }
    .main-nav {
        >* {
            margin-right: 15px;
            font-size: 1.4rem;
        }
        .user-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .hamburger {
        font-weight: 900;
        font-size: 2rem;
        color: black;
        display: none;
    }

    @media (max-width: 700px) {
        .hamburger {
            display: block;
        }
        .main-nav {
            z-index: 3;
            flex-direction: column;
            position: absolute;
            right: 0;
            // top: 10vh;
            top: 100%;
            transition: 0.3s;
            transform: translate(100%, 0);
            >* {
                margin-right: 0;
            }

            li {
                width: 250px;
                height: 100px;
                >* {
                    width: 100%;
                    height: 100%
                }
                border: 1px solid black;
                background-color: white;
                box-shadow: inset 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
    &.open {
        background-color: white;
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
        .screen {
            display: block;
        }
        .main-nav {
            transform: translate(0, 0);
        }
    }
}