.main-header {
    z-index: 2;
    position: fixed;
    top: 0;
    // padding: 18px;
    padding: 0 20px;
    transition: 0.5s;
    a {
        color: white;
    }
    
    &.filled {
        background-color: white;
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
        a {
            color: gray;
            &:hover, .router-link-exact-active {
                color: $clr4;
            }
        }
        .logo {
            color: #353433;
        }
    }
    .screen {
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        display: none
    }

    .logo {
        font-family: PermanentMarker;
        span {
            color: $clr4;
        }
    }
    .main-nav {
        >* {
            margin-right: 15px;
            font-size: 1.4rem;
        }
        .user-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .hamburger {
        font-weight: 900;
        font-size: 2rem;
        color: black;
        display: none;
    }

    @media (max-width: 700px) {
        .hamburger {
            display: block;
        }
        .main-nav {
            z-index: 3;
            flex-direction: column;
            position: absolute;
            right: 0;
            // top: 10vh;
            // top: 100%;
            top: 0;
            transform: translate(100%, 0);
            transition: 0.3s;
            >* {
                margin-right: 0;
            }
            height: 100vh;
            background-color: #fff;
            border-left: 1px solid rgba(0, 0, 0, 0.3);
            // border: 1px solid black;

            li {
                width: 200px;
                height: 75px;
                // width: 250px;
                // height: 100px;
                >* {
                    width: 100%;
                    height: 100%
                }
                // border: 1px solid black;
                // &:not(:last-child) {
                //     border-bottom: unset;
                // }
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                background-color: white;
                // box-shadow: inset 0px 0px 2.5px 0px rgba(0, 0, 0, 0.2);
                a {
                    color: gray;
                }
            }
        }
    }
    &.open {
        // background-color: white;
        // box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
        .screen {
            display: block;
        }
        .main-nav {
            transform: translate(0, 0);
        }
    }
}