.img-details {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.middle{
    border: 2px solid black;
}

.event-gallery{
    margin: 0 auto;
    width:fit-content;
    // button{
    //     visibility: hidden;
    // }
    &:hover{
        // button{
        //     visibility: visible;
        // }
        
            cursor: pointer;
            // font-size: 10px;
        
    }
    margin-bottom: 20px;
    p{
        cursor: pointer;
        font-size: 10px;
    }
    
}


.btn-img{
    position: relative;
    top:-50px;
    .left{
        position: absolute;
        top:-20px;
        right: 282%;
    }
    .right{
        position: absolute;
        top:-20px;
        left:282%;
    }

}