

.details-container{
  background-color:#3a2c2c;
}

.title{
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 70px;
}


.important-details {
  width: 38%;
  margin-top: 10px;
  padding: 1.6vw 2% 10vw;
  border-radius: 10px;
  border: 1px solid rgb(65, 64, 64);
  background-color: #fff;
  // z-index: 10;
  position: absolute;
  right: 40px;
  color: rgba(0, 0, 0, 0.794);
  height: 50vh;
}

.down{
  transition: all 0.3s;
  position: fixed;
  top:200px;
}

.stop{
  position: absolute;  
  bottom: -600px;
}

.evento-time{
  font-size: 25px;
}

.evento-location{
  margin-top: 20px;
  text-align: center;
}


.space{
  margin-top: 15px;
}

.secondry-details{
  font-size: 20px;
  text-align: center;
}

.evento-details{
  width:50vw;
  margin-left: 15px;
}

.join-container{
    margin-top: 15px;
    text-align: center;
    .join{
        font-size: large;
        border:none;
        padding: 15px 10vw;
        border-radius: 50px;
        background-color: #9dd4ea;
        outline: none;
    }
    
}



.details-txt{
  margin-top:20px;
}

.map{
  margin-top: 10px;
  margin-bottom:10px;
}


// .img-container{
//   width:50vw;
//   height: 45vh;
//   position: relative;
//   margin-bottom: 30px;
//   .gallery-dots{
//     position: absolute;
//     bottom: -50px;
//     right:50%;
//     transform: translate(50%,0);
//   }
// }








.details-content {
  display: flex;
  flex-direction: column;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transition: opacity 1s;
}

// @media (max-width: 850px){

//   .details-header{
//     margin-left: 0;
//     justify-content: flex-start;
//   }
//   .title{
//     width:50vw;
//     justify-content: flex-start;
//   }
//   // .join-container{
//   //   position: absolute;
//   //   right:20px;
//   //   .join{
//   //     padding: 15px 30px;
//   //     position: fixed;
//   //     bottom: 30px;
//   //     right: 15px;
//   //     top:unset;
//   //   }
//   // }
//   .map{
//     margin-bottom: 15px;
//   }

// }




