.main-header {
    min-height: 10vh;
    width: 100vw;
    z-index: 1;
}

.main-router-view {
    margin-top: 12vh;
    // width: 100vw;
    min-height: 90vh;
}

.main-footer {
    // width: 100vw;
    height: 250px;
    background-color: $clr5;
}



.logo {
    color: $clr7;
}
