.main-header {
    min-height: 10vh;
    width: 100vw;
    z-index: 1;
}

.main-router-view {
    margin-top: 12vh;
    // width: 100vw;
    min-height: 90vh;
    // background-color: #fff;
}

.container {
    // margin: 0 auto;
    // width: 90vw;
    margin-top: 11.5vh;
    padding: 0 10vw;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.main-footer {
    // width: 100vw;
    height: 250px;
    color: white;
    background-color: #93b7be
}



.logo {
    color: $clr7;
}
