
// COLOR PALETTE

$clr1: #6D9DC5;
$clr2: #2274A5;
$clr3: #80DED9;
$clr4: #93B7BE;
$clr5: #2274A5;
$clr6: #445E93;
$clr7: rgb(53, 52, 51);

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


